
<div class="container ">

  <div class="row">
    <div class="col-sm-12" >
      <span class="textFilm">Votre <strong>Film</strong> </span>
      <div class="h1Sous">
        <h4>Cinema <span class="h1B">Rif  tetouan</span></h4>
      </div>
      <mat-card>
        <div class="row">
          <div class="col-sm">
            <img src="{{'http://localhost:8080/Images/films/'+contentFilm.poster}}" alt="Avatar" height="100%" width="100%">
          </div>
          <div class="col-sm-5">
            <h1><strong>{{contentFilm.titre}}</strong></h1>
            <h3>{{contentFilm.genre.nom}}<span>  {{contentFilm.duree}}</span></h3>
            <p>{{contentFilm.description}}</p>
            <h3>Realisateur :<span>{{contentFilm.realisateur.nom}}</span></h3>
            <h3>Acteurs :<span *ngFor="let acteur of acteurs">{{acteur.nom}} {{acteur.prenom}}, </span></h3>
            <h3>Sortie :<span> {{contentFilm.annee}} </span></h3>
          </div>
          <div class="col-sm">
            <iframe class="e2e-iframe-trusted-src" width="400" height="240" [src]="videoTrailer"  title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

            </iframe>
          </div>
        </div>
        <div class="divTextFilm">
          <mat-tab-group  dynamicHeight mat-align-tabs="start">

            <mat-tab label="Film Image" >
              <div class="containerImage" *ngFor="let gallerie of galleries">
                <img src="{{'http://localhost:8080/Images/films/'+gallerie.image}}"  alt="Avatar" class="image">
              </div>
            </mat-tab>
            <mat-tab label="Acteurs Image" >
              <div class="containerImage" *ngFor="let acteur of acteurs">
                <img src="{{'http://localhost:8080/Images/personnes/'+acteur.photo}}"  alt="Avatar" class="image">
                <div class="overlay">{{acteur.nom}} {{acteur.prenom}}</div>
              </div>
            </mat-tab>
            <mat-tab label="Realisateur Image" >
              <div class="containerImage" >
                <img src="{{'http://localhost:8080/Images/personnes/'+contentFilm.realisateur.photo}}"  alt="Avatar" class="image">
                <div class="overlay">{{contentFilm.realisateur.nom}} {{contentFilm.realisateur.prenom}}</div>
              </div>
            </mat-tab>
          </mat-tab-group>


        </div>

        <div class="divTextFilm">
          <h1>Les <strong>Evenements</strong></h1>
          <div class="flip-card"  *ngFor="let event of eventsFilm">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="{{'http://localhost:8080/Images/evenements/'+event.poster}}" alt="Avatar" style="width:200px;height:300px;">
              </div>
              <div class="flip-card-back"><br>
                <h2>{{event.titre}}</h2>
                <h3>{{event.typeEvent.type_event}}</h3>
                <button mat-button (click)="openDialog(event)" >plus de detail<mat-icon>navigate_next</mat-icon></button>

              </div>
            </div>
          </div>
        </div>

        <div class="divTextFilm">
          <h1>Les <strong>Seances</strong></h1>

            <mat-tab-group  dynamicHeight mat-align-tabs="start">

              <mat-tab label="22" disabled>

              </mat-tab>
              <mat-tab label="23" disabled> </mat-tab>
              <mat-tab label="24">

                <div class="chip">
                  17h00
                </div>
                <div class="chip">
                  17h00
                </div>
                <br><br><br>
              </mat-tab>
              <mat-tab label="25"> </mat-tab>
              <mat-tab label="26"> </mat-tab>
              <mat-tab label="27"> </mat-tab>
              <mat-tab label="28"> </mat-tab>

            </mat-tab-group>


        </div>
      </mat-card>
    </div>
  </div>



</div>
